body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", 
    oboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
--primary-font-color: #000;

}
