body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", 
    oboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   
   --primary-font-color: #000;
   --secondary-font-color: #888;
   --button-background: #fff;
   --color-hover:#2f89fc;
   --primary-background-color:white;
   --secondary-background-color:#f8f9fa;
   --green: #8BC34A;
   --orange: orange;
   --red: red;
   --grey: #666;
   --blue: #2f89fc;
   --grey-shade: #B3B3B3;
   --grey-light: #edf0f5;
   --black-light: #333;
   --grey-lighter: #737373;
   --gray-light: #999999;
   --gray-dark: #808080;
}
ul
{
    list-style-type: none;
}
a
{
    text-decoration: none;
}