nav.header{
    background-color:white;
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
}
nav.header>h3{
    font-size: 24px;
    color: #000 ;
    font-weight: 400;
    padding: 0px 20px;
}
div.slide>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
}
div.slide>ul>li>a{
    text-decoration: none;
    padding: 10px 0px;
    font-weight: 620;
    color: #000;
    transition: all,0.3s,ease;
}
div.slide>ul>li>a:hover{
    color: #2f89fc;
}
div.slide>ul>li>a>img{
    height:20px;
}
.hamburger{
    display: none;
    padding: 0px 10px;
}
.hamburger>div{
    height: 2.5px;
    width: 22px;
    background-color:#000000;
    margin:5px auto;  
}
@media screen and (max-width:425px){
    nav.header{
        height: 42px;
    }
    div.slide>ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
}