nav.navbar
{
    background-color:white;
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
}
nav.navbar > h3
{
    font-size: 24px;
    color: #000;
    font-weight: 400;
    padding: 0px 20px;
}
.menu
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
    margin-top: 21px;
}
.menu > li > a
{
    text-decoration: none;
    padding: 10px 0px;
    font-weight: 500;
    color: #000;
    transition: all,0.3s,ease;
}
.menu > li > a:hover
{
    color: #2f89fc;
}
.menu > li > a > img
{
    height:18px;
    margin-top: 7px;
}
.hamburger
{
    position: relative;
    display: none;
}
.hamburger > div
{
    height: 4px;
    width: 23px;
    background-color:#888;
    margin:5px 20px;
}

@media screen and (max-width:425px){
    div.hamburger,.toggle-menu{
        display:block;
    }
    div.slide>ul.menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -320px;
        background: rgb(246, 246, 246,1);
        width: 200px;
        height: 100%;
        padding-top: 20%;
        margin-bottom: 100;
        
    }
    div.slide>ul>li{
        width: 100%;
    }
    div.slide>ul>li>a{
        padding: 10px;
        font-size: 20px;
        color: #000000;
        transition: all,0.3s,ease;
    }
}