nav.header{
    background-color:var(--primary-background-color);
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
}
nav.header>h3{
    font-size: 24px;
    color:var(--primary-font-color);
    font-weight: 400;
    padding: 0px 15px;
}
div.slide>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
}
div.slide>ul>li>a{
    text-decoration: none;
    padding: 10px 0px;
    font-weight: 620;
    color: var(--primary-font-color);
    transition: all 0.3s ease-in-out;
}
div.slide>ul>li>a:hover{
    color:var(--hover-color);
}
div.slide>ul>li>a>img{
    height:15px;
}
.hamburger{
    display: none;
    padding: 0px 20px;
}
.hamburger>div{
    height: 2.2px;
    width: 20px;
    background-color:var(--hamburger-menu-color);
    margin:5px auto;  
}
@media screen and (max-width:425px){
    nav.header{
        height: 42px;
    }
    div.slide>ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
}