nav.navbar
{
    background-color:var(--primary-background-color);
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
}
nav.navbar > h3
{
    font-size: 24px;
    color: var(--primary-font-color);
    font-weight: 400;
    padding: 0px 20px;
}
.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
    margin-top: 20px;
}
.menu > li > a
{
    text-decoration: none;
    padding: 10px 0px;
    font-weight: 500;
    color: var(--primary-font-color);
    transition: all,0.3s,ease;
}
.menu > li > a:hover
{
    color: var(--color-hover);
}
.menu > li > a > img
{
    height:18px;
    margin-top: 7px;
}
.hamburger
{
    position: relative;
    display: none;
}
.hamburger > div
{
    height: 4px;
    width: 23px;
    background-color:var(--secondary-font-color);
    margin:5px 20px;
}
@media screen and (max-width:425px)
{
    nav.navbar
    {
        height: 42px;
    }
    div.slide > ul.menu
    {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -320px;
        background: rgb(246, 246, 246,1);
        width: 200px;
        height: 100%;
        padding-top: 20%;
        margin-bottom: 100;     
    }
    .hamburger
    {
        display: block;
    }
    .menu > li
    {
        width: 100%;
    }
    .menu > li > a
    {
        padding: 10px;
        font-size: 20px;
        color: var(--primary-font-color);
        transition: all,0.3s,ease;
    }
}