section#newsletter-section{
    width: 1134px;
    height: 345px;
    margin: 0px auto;
}
section#newsletter-section>div{
    width: 475px;
    height: 185px;
    margin: 75px auto;
}
div.box>h2{
    font-size: 30px;
    color: black;
    font-weight: 400;
    text-align: center;
}
div.box>p{
    font-size: 16px;
    color: #808088;
    text-align: center;
}
div.box> div.input-box{
	height:43px;
	width:470px;
	display:flex;
margin:0px auto;
}
 div.input-box > input.submit {
	height:43px;
	width:97px;
	background-color:#2f89fc;
	border:none;
}

div.input-box > input.email-box{
	height:39px;
	width:370px;
	border:1px solid gray;
}

