#newsletter > .subscribe{
	height:180px;
	background-color:var(--whitebackground-color);
	padding:80px 0px;
}
#newsletter > .subscribe > .container{
	height:183px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	align-items:centre;
}
#newsletter >.subscribe > .container > .box{
	background-color:var(--whitebackground-color);
	height:183px;
	width:470px;
	margin-left: 350px;
	text-align:center;
}
#newsletter > .subscribe > .container > .box > h2{
	font-size: 20px;
	font-weight:400;
	
}
#newsletter > .subscribe > .container > .box > p{
	color:var(--ptext-color);
	line-height:1.7;
	font-weight:300;
	font-size: 16px;
}
#newsletter > .subscribe > .container > .box  > div.ipbox{
	height:43px;
	width:470px;
	display:flex;
}
#newsletter > .subscribe > .container > .box  > div.ipbox > input.submitbtn {
	height:43px;
	width:98.16px;
	background-color:var(--span-blue);
	border:none;
}

#newsletter > .subscribe > .container > .box  > div.ipbox > input.inptbox{
	height:39px;
	width:371.84px;
	border:1px solid var(--ptext-color);
}

@media screen and (max-width:424px){
	#newsletter > .subscribe{
	height:210px;
	padding:40px 0px;
	}
	
	#newsletter > .subscribe > .container{
	width:424px;
	height:210px;
	display:flex;
	align-items:center;
	}
	#newsletter >.subscribe > .container > .box{
	height:183px;
	margin-left: 0px;
	text-align:center;
	}
	#newsletter > .subscribe > .container > .box  > div.ipbox{
	height:43px;
	width:394px;
	display:flex;
	padding:40px 15px;
	}
}