section.post-highlight-section-1{
    background-color: #f8f9fa;
}
div.highlight-section-wrapper{
    width: 1125px;
    height:590px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
	margin:auto;
    gap:20px;
}
div.highlight-section-wrapper>div.card-section-1{
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
div.highlight-section-wrapper>div.card-section-1>div.grid-box{
    padding: 13px;
}
@media screen and (max-width:425px){
    div.highlight-section-wrapper{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        width: 385px;
        margin: 0px auto;
        height: 1000px; 
    }
    div.highlight-section-wrapper>div.card-section-1>div.grid-box-1{
        margin-top: 35px;
    }
    div.voucher{
        display: none;
    }
}