section.post-highlight-section-1{
    background-color:var(--secondary-background-color);
}
div.highlight-section-wrapper{
    width: 1125px;
    height:590px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
	margin:auto;
    gap:20px;
}
div.highlight-section-wrapper>div.card-section-1{
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
div.highlight-section-wrapper>div.card-section-1>div.grid-box{
    padding: 13px;
}
div.post-category{
    position: absolute;
    margin-top: -140px;
    padding-left: 18px;
}
span#button-box{
    padding: 1px 10px;
    border-radius: 6px;
    color:var(--button-background);
    column-gap: 2px;
    margin-left:3px;
    text-align: center;
}
div.post-category>span.box-1{
    background-color:#f23a2e;   
}
div.post-category>span.box-2{
    background-color: #2f89fc;
}
div.text{
    position: absolute;
    padding: 20px;
    margin-top: -120px;
    padding: 20px;
    z-index: 10;
    font-size: 18px;
    line-height: 1.5;
    color:var(--button-background);
    margin-bottom: 0;
}
.text>p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}
.image-after{
    display: none;
}
@media screen and (max-width:425px){
    div.highlight-section-wrapper{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        width: 385px;
        margin: 0px auto;
        height: 1000px;
        padding-top: 20px;
    }
    div.highlight-section-wrapper>div.card-section-1>div.grid-box-1{
        margin-top: 35px;
    }
    div.voucher{
        display: none;
    }
    .image-after{
        display: block;
    }
    .image-before{
        display: none;
    }
}