section.recent-post{
    margin-top:70px;
}
section.recent-post>div.container{
    width: 1125px;
    margin:0px auto;
    background-color: #ffffff;
}
section.recent-post>div.container>div.site-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
section.recent-post>div.container>div.site-section>div{
    height: 700px;
    margin: 0px auto;
}
section.recent-post>div.container>h2{
    height: 45px;
    margin-bottom: 70px;
    font-size: 32px;
    font-weight: 400;
    padding: 0px 15px;
}
div.documentation{
    padding:0px 20px;
}
div.documentation>h3{
    color: var(--primary-font-color);
    font-size: 24px;
}
.read-more{
    text-decoration: none;
    color: blue;	
}
div.documentation>p{
    color: #666;
    line-height: 1.7;
    font-weight: 300;
}
div.read-more>p{
    margin-top: 40px;
}
div.read-more>p>a{
    text-decoration: none;
    transition: .3s all ease;
    color: var(--hover-color); 
}
div.read-more>p>a:hover{
    color: #004eb4;
}
div.documentation>p>span{
    color: black;
    font-weight: 400;
}
div.documentation>div>button{
    color: white;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    padding:0px 8px;
}
.recent-img-after{
    display: none;
}
button.doc-btn-1{
    background-color:var(--btn-color-1);
}
button.doc-btn-2{
    background-color:var(--btn-color-2);
}
button.doc-btn-3{
    background-color:var(--btn-color-3);
}
button.doc-btn-4{
    background-color:var(--btn-color-3);
}
@media screen and (max-width:425px){
    section.recent-post>div.container{
        width: 394px;
        margin: 0px auto;
    }
    section.recent-post>div.container>div.site-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .recent-img-after{
        display: block;
    }
    .recent-img-before{
        display: none;
    }
   
}